<div class="row">
    <div class="col-md-2">
        <div class="collapse  navbar-collapse" id="2">
            <ul class="nav MySidebar">
                <li><a class="{{activeLeftmenuHome}}" href="/">Home</a></li>
                <li><a class="{{activeLeftmenuUsers}}" href="/Users">Users</a></li>
                <li><a class="{{activeLeftmenuAbout}}" href="/About">About</a></li>
                <li><a class="{{activeLeftmenuMessages}}" href="/Messages">Messages</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
      {{{body}}}
    </div>
</div>
